body {
    background: blueviolet;
}



#back-image {
    background-size:950px auto;
    background-repeat: no-repeat;

}

#tittle {
    margin: 10px;
    padding: 5px;
    color: peachpuff;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.instructions {
    background: peachpuff;
    opacity: 50%;
    padding: 10px;
    color: purple;
    box-sizing: content-box;    
    width:800px;
    height: 135px;
    padding: 30px;    
    border: 2px solid palegreen;
    align-content: center;
}
#wins {
    background-size: 100px 50px;
    background: teal;
}

.gems {
    height: 50px;
}

.round-output {
    background: yellow;
    opacity: 50%;
    padding: 10px;
    color: purple;
    box-sizing: content-box;    
    width:200px;
    height: 75px;
    padding: 10px;    
    border: 2px solid palegreen;
    align-content: center;

}